<!--whatIDo by jero98772-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
</head>
<body>	
	<h3><!--Menu bar-->	
		<center>
			<table style=" width: 100%;">
				<th colspan="10">	<h1>What i do algorithm</h1></th>
				<th colspan="10"><a href="/">What i do algorithm</a></th>
				<th colspan="10"><a href="/playground">Playground</th>
				<th colspan="10"><a href="/playonline">Online testing</a></th>
			</table>
		</center>
	</h3>

	<h1>What i do algorithm</h1>
	
	'What i do' is an algorithm is for chose a final product with the materials given by input, the algoritm represent materials as graph
	,this algorim work on directional graph to connect diferentes materials with their products, think as a function that recive a graph and list of items do you have 
	<h3>Why is directional graph?</h3> because we can make a house with concret and bricks but you don´t can make brick and concret with a house
	<br>
	<img src="https://raw.githubusercontent.com/jero98772/WhatiDo/main/misc/screenshots/graph.png">
	<h3>Nodes</h3> are materials and direccional <h3>Edges</h3> are the things you can make 
	<h3>programing notes</h3>
	<br>i use adyacent list to representate the graph because is more eficent than, but you can use matrix the algoritm work very simililar in a matrix
	(see <a href="https://github.com/jero98772/WhatiDo/blob/main/misc/scripts/algotirmwhaticando.go">algoritm with matrix</a>)
	<h2>How it works for select a product?</h2>
	to select the product that fits most of your available materials, search in the graph your items and put in a map (or python diccionary) the amout of ocurrenes of a products you can make,finalized with a map of the form {product:num of materials do you have} 
	ending looking for the greatest occurrence and selecting the product with which it has it



</body>
</html>