<!--whatIDo by jero98772-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
</head>
<body>	
	<h3><!--Menu bar-->	
		<center>
			<table style=" width: 100%;">
				<th colspan="10">	<h1>What i do algorithm</h1></th>
				<th colspan="10"><a href="/">What i do algorithm</a></th>
				<th colspan="10"><a href="/playground">Playground</th>
				<th colspan="10"><a href="/playonline">Online testing</a></th>
			</table>
		</center>
	</h3>

	<h1>What i do algorithm</h1>
	<p>Hello </p>
	What i do is an algorithm is for chose a final product with the materials given by input, the algoritm represent materials as graph

</body>
</html>